<style>
#invite{position:absolute;
						top:250px;
						left:500px;
						}
#invite table{height:100px;
										width:400px;
										}

</style>
<div id="invite">
<table><caption>Invite New Member</caption>
<%=form_for @member,:url=>{:controller=>'projects',:action=>'membersendmail',:id=>@idd} do |f| %>
<tr><td>Select E-Mail</td><td><%=f.select :email,@member.collect {|p| [p.email ] }%></td></tr>
<tr><td></td><td><%=f.submit 'Submit'%></td></tr>
<%end%>
</table>
</div>